<div>
  <% @opinions.each do |opinion| %>
    <div class="pt-3 pl-2">
      <div>
        <div class="d-flex mb-1">
          <div>
              <% if opinion.author.photo.nil? %>
                 <img src="https://bulma.io/images/placeholders/128x128.png" class="cover-img">
              <% else %>
                <%= image_tag opinion.author.photo.thumb.url, target:"_blank" %>
              <% end %>
          </div>
          <div class="pl-3">
            <div><%= link_to opinion.author.fullname, user_path(opinion.author.id) %></div>
            <div><%= opinion.Text %></div>
          </div>
        </div>    

        <div class="d-flex mt-1">    
          <div class="">
            <div class="d-flex"> 
              <div class="icon-color ">
                <% if opinion.likes.any? { |like| like.user_id == current_user.id } %>  
                  <%= link_to opinion_like_path(opinion, opinion.likes.ids), class: 'btn', method: :delete do %>
                    <i class="fas fa-heart text-danger"></i>
                  <% end %>
                <% else %>
                  <%= link_to opinion_likes_path(opinion), class: 'btn', method: :post do %>
                     <span class="home"><i class="fas fa-heart"></i></span>
                  <% end %>
                <% end %>
              </div>
              <% if opinion.likes.any? %>
                 <div style="margin-top:5px;"><%= opinion.likes.count %> <%= (opinion.likes.count) == 1 ? 'Like' : 'Likes'%></div>
              <% end %>
            </div>
          </div>
          
         <div class="mr-3 mt-2">
           <%= link_to edit_opinion_path(opinion) do %>
            <span class="icon-color"><i class="fas fa-pencil-alt "></i></span>
          <% end %>
         </div>
  
         <div class="mt-2">
           <%= link_to opinion_path(opinion), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-default' do %>
            <span class="icon-color"><i class="fas fa-trash-alt"></i></span>   
          <% end %>
         </div>

        </div>
      </div>
      
    </div>
  <% end %>
</div>