<div class="mt-5">
  <h1 class="text-center"> Sign Up </h1>

  <div class="row justify-content-md-center mt-4">
    <div class="col-md-4">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :username, 'Username' %>
        <%= f.text_field :username, class: 'mb-1 form-control', id: 'user_username' %>

        <%= f.label :fullname, 'Fullname' %>
        <%= f.text_field :fullname, class: 'mb-1 form-control' %>

        <%= f.label :photo, 'My avatar' %>
        <%= f.file_field :photo, class: 'form-control' %>
        <%= f.hidden_field(:photo_cache) %>

        <%= f.label :coverimage, 'Cover image' %>
        <%= f.file_field :coverimage, class: 'form-control' %>

        <%= f.submit 'Sign up', class: 'mt-2 btn bg-color color' %>
        
        <%= hidden_field_tag :direct, params[:direct] %>
      <% end %>
    </div> 
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="mt-auto p-2 bd-highlight">
    <strong><%= link_to 'Log in', login_path, class: 'mt-2 btn color-btn' %></strong>
  </div>
</div>
