<div class="px-1 py-3">

  <div class="py-2">
    <div class="d-flex flex-column mb-3">
      <div class="text-center">
      
        <div>
          <% if current_user.id != @user.id %>
            <%# Follow %>
            <% unless current_user.following?(@user) %>
              <%= form_for(current_user.active_followings.build) do |f| %>
                <div><%= hidden_field_tag :followed_id, @user.id %></div>
                <%# <%= f.submit 'Follow', class: 'btn btn-primary' %> 
                <%= f.button'<i class="fa fa-lock" aria-hidden="true"></i>'.html_safe, class: "btn" %>
              <% end %>
            <% else %>
              <%= form_for(current_user.active_followings.find_by(followed_id: @user.id),
                html: { method: :delete }) do |f| %>
                <%= f.submit "Unfollow", class: 'btn' %>
              <% end %>
            <% end %>
            <%# Unfollow %>
          <% end %>
        </div>
        <div>
          <div class="py-2"><%= image_tag @user.photo.thumb.url, class:"rounded-circle" %></div>
          <div><h6><%= @user.fullname %></h6></div>
          <h6>@<%= @user.username %></h6>
        </div>
      </div>
    </div>
    <div class="pt-4 d-flex justify-content-around border-top">
      <div>
        <div class="text-center"><%= @user.opinions.count %></div>
        <div>Tweets</div>
      </div>
      <div>
        <div class="text-center"><%= @user.followers.count %></div>
        <div>Followers</div>
      </div>
      <div>
        <div class="text-center"><%= @user.following.count %></div>
        <div>Following</div>
      </div>
    </div>

  </div>
</div>