<!DOCTYPE html>
<html>
  <head>
    <title>TwitterDesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid"> 
      <% if flash[:notice] %>
        <div>
          <p class="notice text-center text-success"><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div>
          <p class="alert text-center text-danger"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
